name: 3090 Remote Lab (Sync & Train)

on:
  workflow_dispatch:
    inputs:
      experiment_name:
        description: 'Name of the experiment (for checkpoint file)'
        required: true
        default: 'attention_test_v1'

jobs:
  sync-and-train:
    runs-on: [self-hosted, x64, docker, Linux]
    
    steps:
      # # 1. Pull latest code from GitHub
      # - name: Cleanup previous run permissions
      #   run: sudo chown -R $USER:$USER .
        
      # - name: Checkout Code
      #   uses: actions/checkout@v4
      #   with:
      #     fetch-depth: 0

      - name: Run Trainer via Docker Script
        env:
          WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
          EXP_NAME: ${{ github.event.inputs.experiment_name }}
        run: |
          # 1. Move to the project root
          cd /home/fypits25/Documents/ted_backyard/actions-runner/_work/Attention_Triton/Attention_Triton
          
          # 2. Make the script executable (using the correct path)
          chmod +x ./script/init_train.sh
          
          # 3. Run it, passing the secret and the experiment name
          ./script/init_train.sh "$WANDB_API_KEY" "$EXP_NAME"